### links uteis
#### http://www.classicalmidi.co.uk/page20.htm

In [1]:
from music21 import *
import pandas as pd

In [2]:
data_fn = '/home/eurismar/notebooks/c-rnn-gan/datadir/classical/adam/3000adamno_l.mid'

In [3]:
midi = converter.parse(data_fn)

In [4]:
part1 = midi[1]

In [5]:
melodia = part1.getElementsByClass(note.Note)

In [6]:
notas = melodia.getElementsByClass(note.Note)

In [15]:
coluna1 = []
coluna2 = []
for i in notas:
    coluna1.append(str(i.midi))
    coluna2.append(str(i.duration.quarterLength))

In [8]:
df = pd.DataFrame({"nota":coluna1,
                   "duracao":coluna2})

In [9]:
df.head()

  duracao nota
0     1/3   62
1     1/3   70
2     1/3   65
3     1/3   74
4     1/3   70

In [10]:
df.tail()

    duracao nota
343    0.25   60
344    0.25   63
345    0.25   65
346    0.25   63
347    0.25   60

In [11]:
df.describe()

       duracao nota
count      348  348
unique       2   18
top        1/3   65
freq       180   84

In [13]:
midi.elements #mostra quantos canais. neste exemplo s√£o 4 canais

(<music21.stream.Part 0x7fce89010470>,
 <music21.stream.Part 0x7fce88d16c18>,
 <music21.stream.Part 0x7fce88b39d68>,
 <music21.stream.Part 0x7fce88a0d160>)

In [16]:
    midi2 = converter.parse("/home/eurismar/notebooks/c-rnn-gan/datadir/classical/brahms/1671brahms42.mid")

In [21]:
midi2.elements

(<music21.stream.Part 0x7fce862d3978>,
 <music21.stream.Part 0x7fce884172b0>,
 <music21.stream.Part 0x7fce88378390>,
 <music21.stream.Part 0x7fce8640d0b8>,
 <music21.stream.Part 0x7fce84b1e6d8>,
 <music21.stream.Part 0x7fce84a086a0>,
 <music21.stream.Part 0x7fce84973cc0>,
 <music21.stream.Part 0x7fce84947b38>,
 <music21.stream.Part 0x7fce84846550>,
 <music21.stream.Part 0x7fce84622588>,
 <music21.stream.Part 0x7fce842ce7b8>,
 <music21.stream.Part 0x7fce83edc400>,
 <music21.stream.Part 0x7fce83bafeb8>)

In [22]:
part0 = midi[0]

In [23]:
melodia2 = part0.getElementsByClass(note.Note)

In [29]:
notas2 = melodia2.getElementsByClass(note.Note)

In [30]:
coluna1 = []
coluna2 = []
for i in notas2:
    coluna1.append(str(i.midi))
    coluna2.append(str(i.duration.quarterLength))

In [31]:
df2 = pd.DataFrame({"nota":coluna1,
                   "duracao":coluna2})

In [32]:
df2.describe()

       duracao nota
count      104  104
unique      13   11
top       0.25   53
freq        33   26

In [36]:
df2['nota'].unique()

array(['50', '53', '55', '51', '58', '48', '46', '52', '57', '60', '62'],
      dtype=object)

In [37]:
df2['duracao'].unique()

array(['0.25', '4/3', '2/3', '2.0', '1/3', '1.0', '7/3', '0.0', '1.25',
       '8/3', '2.75', '0.75', '5/3'], dtype=object)

In [54]:
df['duracao'].unique()

array(['1/3', '0.25'], dtype=object)

In [55]:
df['nota'].unique()

array(['62', '70', '65', '74', '63', '67', '75', '69', '72', '68', '64',
       '73', '60', '77', '57', '58', '51', '53'], dtype=object)

In [56]:
midi.analyze('key')

In [57]:
midi2.analyze('key')

In [58]:
teste = midi2.transpose("M3")

In [59]:
teste.analyze('key')